a {
    /*background-color:rgb(255, 255, 0);*/
}

petit
{
    font-size: 50%; /* Paragraphes de 14 pixels */
}

grand
{
    font-size: 120%; /* Titres de 40 pixels */
}



matin{
    background-color: rgb(38, 141, 201)  
}

.apm{
    background-color: rgb(48, 167, 77) 
}
.GIT
{
    background: lightslategray;
    font:black;
}
.SDL2
{
    background: lightcoral;
    font:black;
}

.html
{
    background: lightblue;
    font:black;
}

.tas2
{
    background: lightgreen;
    font:black;
}

.partition
{
    background: lightsalmon;
    font:black;
}

.graphe
{
    background: lightslategray;
    font:black;    
}

.extension
{
    background: lightgoldenrodyellow;
    font:black;    
}

caption
{
    font-size: 3em;
    margin: 1em;
}

table
{
    border-collapse: collapse;
    border-style: solid;
    border-width:medium;
    border-color: black;
    
    text-align: center;

    width:80%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:5em;

    background-color: lightsteelblue;
}

thead,tbody,tfoot,tr,td,th
{
    border-style: solid;
    border-width:thin;
    border-color: black;

    padding: 0.5em 1em 0.5em 1em;
}

body
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("Images/FondPlanning.jpg");
    background-size:cover;
}


.btnPopup{
    background-color: rgba(255, 255, 255, 0);
    padding: 1em 2em;
    cursor: pointer;
    }


.overlay 
{
position: fixed;
left: 0px;
top:0px;
background-color: rgba(0,0 ,0 , 0.5);
width: 100%;
height: 100%;
z-index:1;
display:none;
}

.popup{
margin: 10% auto;
width : 70%;
background-color: rgb(243, 243, 243);
padding: 1em;
box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
border-radius: 5px;
}

.btnClose {
float: right;
font-size:16pt;
cursor: pointer;
color: rgb(26, 26, 26);
}